[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
redis = "*"
celery = "==4.4.2"
flower = "==0.9.3"
braintree = "==3.59.0"
certifi = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
