.languages {
  float: right;
  padding-top: 4px;
  font-size: 14px;
}

.languages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.languages ul li {
  float: left;
  margin: 0 0 0 10px;
  font-size: 14px;
}

.languages p {
  float: left;
  margin: 0;
}
