.recommendations {
  clear: both;
}

.recommendations .items {
  display: flex;
  flex-wrap: wrap;
}

.recommendations .items .item {
  margin: 10px;
}

.recommendations img {
  width: 200px;
}

.recommendations p {
  clear: both;
}

.recommendations.cart {
  width: 60%;
  float: left;
  overflow: auto;
}

.recommendations.cart h3 {
  margin-top: 0;
}

.recommendations.cart .item {
  margin-right: 10px;
}

.recommendations.cart img {
  width: 120px;
}
